.header {
  display: flex;
  height: 60px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.header-line {
  height: 1px;
  background-color: #000;
  width: 100%;
  margin-top: 1px;
}

.header-btn {
  display: flex;
  padding: 0 20px;
  gap: 20px;
}
