<section>
  <article>
    <h2>Título focado no problema que você resolve</h2>
    <p>
      Descreva de forma breve e direta o que é o seu produto, pra quem ele é e o
      que torna ele tão especial.
    </p>
    <div class="cta-info">
      <app-button
        [btnType]="'cta'"
        [linkType]="'/register'"
        [name]="'CTA'"
      ></app-button>
      <p>+5,000 pessoas como tu já compraram este produto.</p>
    </div>
  </article>
  <article>
    <img href="image.png" alt="Hero Image">
  </article>
</section>
