<section class="bar-container">
  <div class="title-bar">
    <h2 class="title-info">Por que a sua solução é melhor do que a atual</h2>
  </div>
  <div class="cards-bar">
    <article class="cards">
      <img [src]="icon" alt="icon" />
      <h3>Beneficio 1</h3>
      <p>
        Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.
      </p>
    </article>
    <article class="cards">
      <img [src]="icon" alt="icon" />
      <h3>Beneficio 2</h3>
      <p>
        Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.
      </p>
    </article>
    <article class="cards">
      <img [src]="icon" alt="icon" />
      <h3>Beneficio 3</h3>
      <p>
        Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.
      </p>
    </article>
  </div>
</section>
