<section [class]="inverted">
  <article class="information-card">
    <h3 class="title-card">Um título breve sobre o benefício do seu produto/serviço</h3>
    <p>
      Se necessário, destaque mais detalhes sobre o problema que você resolve ou
      os benefícios do seu produto/serviço.
    </p>

    <ul class="ul-card">
      <li>Destaque os benefícios ou as dores que você resolve</li>
      <li>Destaque os benefícios</li>
      <li>Destaque os benefícios</li>
      <li>Destaque os benefícios</li>
    </ul>
    <app-button
      [btnType]="'primary'"
      [linkType]="'/register'"
      [name]="'CTA'"
    ></app-button>
  </article>

  <div>
    <img [src]="img" alt="" />
  </div>
</section>
