/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
@import '~normalize.css'; */


body {
  font-family: 'Roboto', sans-serif;
}

/* ul { */
  /* list-style-type: none; */
/* } */

a {
  text-decoration: none;
}



main {
  margin-top: 70px;
  padding: 20px;
}
